.btn {
    width: 10rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.navbar {
    max-width: 100%;
    text-align: ;
}

.card-body {
    width: 15em;

}

* {
    border: 1px solid blueviolet;
}